* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* First section */

.introduction {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding: 1rem 1rem 0 1rem;
  background-color: #69779B;
}

.introduction__heading {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  row-gap: 1.46vw;
  margin: 2.93vw;
  text-align: center;
}

.introduction__heading h1 {
  font-size: 5rem;
  font-weight: 700;
  color: rgba(1, 1, 1, 0.9);
  text-shadow: 0.2rem 0.2rem 5px rgba(240, 236, 226, 0.7);
}

.introduction__heading h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #F0ECE2;
  text-shadow: 0.2rem 0.2rem 5px rgba(1, 1, 1, 0.6);
}

.introduction__navigation {
  grid-area: 2 / 1 / 3 / 2 ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  margin: 2.93vw;
}

.introduction__button {
  width: auto;
  padding: 1.83vw;
  border-style: none;
  border-radius: 50%;
  background-color: #010101;
}

.introduction__button:hover {
  background-color: #ACDBDF;
}

.introduction__button img {
  width: 7.32vw;
  height: 7.32vw;
}

.introduction__description {
  grid-area: 3 / 1 / 4 / 2 ;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  color: #F0ECE2;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #010101;
}

/* Second section */
.creations {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  color: #F0ECE2;
  background-color: #010101;
}

.creations__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  color: #F0ECE2;
}

.creations__project img {
  max-width: 362px;
}

.creations__project a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #F0ECE2;
}

.creations__project a:hover {
  color: #ACDBDF;
}

.creations__project a:focus {
  color: #ACDBDF;
}

.creations__project p {
  font-size: 1rem;
  font-weight: 400;
}

.creations__project ul li {
  list-style: inside;
  font-size: 1rem;
  font-weight: 500;
}

.creations__all {
  border-radius: 30px 30px 0 0;
  padding: 0.8rem;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  background-color: #69779B;
}

.creations__all a {
  font-size: 1rem;
  font-weight: 700;
  color: #010101;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 5px rgba(240, 236, 226, 0.7);
}

.creations__all a:hover {
  color: #ACDBDF;
}

/* Third section */
.stiven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem;
  background-color: #69779B;
}

.stiven h2 {
  margin: 2rem 1rem 1rem 1rem;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #F0ECE2;
}

.stiven img {
  margin: 0 auto;
  max-width: 350px;
}

/* Fourth section */
.contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding: 1rem;
  text-align: center;
  background-color: #010101;
}

.contact h2 {
  grid-area: 1 / 1 / 2 / 2 ;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #F0ECE2;
}

.contact__information {
  grid-area: 2 / 1 / 3 / 2 ;
  color: #F0ECE2;
}

.contact__form {
  grid-area: 3 / 1 / 4 / 2 ;
  max-width: 400px;
  margin: 1rem;
}

/* Footer */
footer {
  padding: 1rem;
  text-align: center;
  color: #F0ECE2;
  background-color: #69779B;
}

footer p {
  font-size: 0.8rem;
  font-weight: 500;
}



@media (min-width: 900px) {
  .introduction {
    background-color: #69779B;
  }
  
  .introduction__heading {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
}